<div>
  <h1>Classes</h2>
</div>
<div class='grid'>
  {{#each classes}}
  <div class='grid-cell class-clone'>
    <h1 id='class-id'>{{this.name}}</h1>
    <!-- <form id='groupGen' action='groupGen' method='GET'><input type='submit' value='Create Groups'/></form> -->
    <span class='student-append {{this.name}}'>
      {{#each this.students}}
      <span class='student-name'>
        <p id='student-name'>{{this.name}}</p>
      </span>
      {{/each}}
    </span>

    <h3>Add New Student</h3>
    <form id='addStudent' action='addStudent' method='POST'>
      Name: <input id='student-name' type='text'/><br/>
      <input type='submit' value='Add'>
    </form>

    <h3>Make Groups</h3>
    <form id='makeGroups' action='makeGroups' method="GET">
      Number <input type="text" name="number"></br>
      <input type="radio" name='typegroup' value="groupsize" checked/> Group Size<br/>
      <input type="radio" name='typegroup' value="numgroups"/> Number of Groups<br/>
      <input type="submit" value="Generate Groups">
    </form>
  </div>
  {{/each}}


  <div class='grid-cell'>
    <h1>New Class</h1>
    <form id='createClass' action='createClass' method='POST'>
      Name: <input id='class-name' type='text'/><br/>
      <input type='submit' value='Create'>
    </form>
  </div>
</div>

<div class='groupings'>
  <h1 class='group-name'></h3>
  <div class='group'>
    <h3 class='group-number'></h4>
    <ul class='names'>
    </ul>
  </div>
</div>
